<style>
.artists li:hover{
background:#eee;
}
</style>
<section data-ng-controller="BrowseController" data-ng-init="find()">
  <div class="search">
    <h1>Artists Near You</h1>
    <label>search:</label>
    <input ng-model="query" placeholder ="Search for artists" autofocus>

    <label class="formgroup">by:
      <select ng-model="artistOrder">
        <option value="name">Name</option>
        <option value="stageName">Stagename</option>
      </select>
    </label>
    <label class="formgroup">
      <input type="radio" ng-model="direction" name="direction" checked>
      ascending
    </label>
    <label class="formgroup">
      <input type="radio" ng-model="direction" name="direction" checked>
      descending
    </label>
  </div>
Browse musicians in your area and contact them to set up events for them to perform at.
<br>
<br>
  <ul class="artists">
    <a data-ng-repeat="artist in artists | filter:query | orderBy:artistOrder:direction" data-ng-href="#!/browse/{{artist._id}}">
<li>
    <!-- <li class="artist cf" ng-repeat="user in users | filter: query | orderBy: artistOrder:direction"> -->
      <!-- <a href="#/browse/{{user.indexOf(item)}}"> -->
        <!im ng-src="images/{{item.shortname}}_tn.jpg" alt="Photo of {{artist.displayName}}">
	<div style="border:1px solid lightgray;padding:10px;height:150px;overflow:hidden;" class="info">
	<div style="float:left;width:50%;">
	<img style="float:left; margin-right:10px;" src="https://cdn2.iconfinder.com/data/icons/free-basic-icon-set-2/300/2-128.png"/>
            <h2>{{artist.displayName}}</h2>
	    <h3>{{artist.stageName}}</h3>
            <h3>{{artist.email}}</h3>
	    </div>
            <div style="float:right;width:50%;">{{artist.city}},{{artist.state}}<br>
		{{artist.genre}}
		</div>
          </div>
      </li>
    </a>
    </ul>
    <div class="alert alert-warning text-center" data-ng-if="users.$resolved && !users.length">
      No artist yet, tell your muscian friends to sign up <a href="/#!/users/signup">?
      </a></div>
  </section>

  <!-- </div>
  <body>
  <div class="search">
    <h1>Pool of Local Talent</h1>
    <label>search:</label>
    <input ng-model="query" placeholder="Search for artists" autofocus>
    <label class="formgroup">by:
      <select ng-model="artistOrder">
        <option value="firstName" selected>Name</option>
        <option value="lastName"
      </select>
    </label>

    <label class="formgroup">
      <input type="radio" ng-model="direction" name="direction" checked>
      ascending
    </label>
    <label class="formgroup">
      <input type="radio" ng-model="direction" name="direction" value="reverse">
      descending
    </label>

  </div>

  <div class="list-group">
    <a data-ng-repeat="user in users | filter:query | orderBy:artistOrder:direction" data-ng-href="#!/browse/{{user._id}}" class="list-group-item">
      <div>
        <img src="http://placehold.it/70x70" class="avatar img-circle" alt="avatar">
        <h2 class="list-group-item-heading" data-ng-bind="user.displayName"></h2>
          <h4 class="list-group-item-heading" data-ng-bind="user.stageName"></h4>
        <p>Signed up:
          <span data-ng-bind="user.created | date:'mediumDate'"></span>
        </p>
      </div>
      <div>
        <h4 class="list-group-item-heading" data-ng-bind="user.email"></h4>
      </div>
    </a>
  </div>

  </section> -->
