<div class="container" data-ng-controller="HeaderController">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<a class="navbar-brand" href="/#!/">That-Local-Sound!</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
			<ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
				<li ui-route="/signup" ng-class="{active: $uiRoute}">
					<a href="/#!/signup">Sign Up</a>
				</li>
				<li class="divider-vertical"></li>
				<li ui-route="signin" ng-class="{active: $uiRoute}">
					<a href="/#!/signin">Sign In</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
				<li><a href="/#!/browse/">Browse</a></li>
				<li><a  href="/#!/dashboard/">Dashboard</a></li>
				<li><a href="/auth/signout">Sign-out</a></li>
			</ul>
		</nav>
	</div>
</div>
