<section data-ng-controller="HomeController">
	<script src='/path/to/lodash[.min].js'></script>
	<script src='/path/to/angular-google-maps[.min].js'></script>
	<script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
	<div class="row">
	</div>
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<h1>That Local Sound! Logo</h1>
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
			</p>
		</div>
	</div>
	<div>
		<h1>This is where the carousel goes</hi>
	</div>
	<div class="row">
			 <div class="col-md-4 text-center">
				<img src="http://placehold.it/140x140" class="avatar img-circle" alt="avatar">
				<h6>This is a local feature event</h6>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ipsa culpa doloribus perferendis repudiandae, hic, explicabo iusto labore eveniet, eaque aspernatur placeat temporibus maiores sint ipsum odio obcaecati reprehenderit ex.</p>
			</div>
			<div class="col-md-4 text-center">
			<img src="http://placehold.it/140x140" class="avatar img-circle" alt="avatar">
			<h6>This is a local feature event</h6>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ipsa culpa doloribus perferendis repudiandae, hic, explicabo iusto labore eveniet, eaque aspernatur placeat temporibus maiores sint ipsum odio obcaecati reprehenderit ex.</p>
		</div>
		<div class="col-md-4 text-center">
		<img src="http://placehold.it/140x140" class="avatar img-circle" alt="avatar">
		<h6>This is a local feature event</h6>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ipsa culpa doloribus perferendis repudiandae, hic, explicabo iusto labore eveniet, eaque aspernatur placeat temporibus maiores sint ipsum odio obcaecati reprehenderit ex.</p>
	</div>
	</div>
</section>
