## Directory-based project format
.idea/workspace.xml
.idea/tasks.xml
.idea/dataSources.ids
.idea/dataSources.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/*.local.xml

## File-based project format
*.ipr
*.iml
*.iws


.bower-*/
.sass-cache/
.DS_Store
.nodemonignore
app/tests/coverage/
node_modules/
npm-debug.log
public/lib
